@use '../variables' as *;

.filter-grid {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  
  option {
    background-color: #0c0c14;
    color: white;
  }
}

.filter-label {
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: rgba(255, 255, 255, 0.3);
  margin-left: 0.25rem;
  margin-bottom: 0.6rem;
}